{#<footer class="site-footer">#}
    {#<section class="footerline">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-sm-4">#}
                    {#<div class="footer-block"><h3 class="footer-block_title"><span>Dish</span><span>-Alt</span></h3>#}
                        {#<hr class="footer-block_divider">#}
                        {#<div class="footer-block_body">#}
                            {#<ul class="footer-block_menu">#}
                                {#<li><a href="{{ path('get_about') }}">О портале</a></li>#}
                                {#<li><a href="{{ path('get_partners') }}">Партнеры</a></li>#}
                                {#<li><a href="{{ path('get_adverts') }}">Реклама</a></li>#}
                            {#</ul>#}
                        {#</div>#}
                        {#<div class="footer-block_footer"></div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-sm-4">#}
                    {#<div class="footer-block"><h3 class="footer-block_title">Категории</h3>#}
                        {#<hr class="footer-block_divider">#}
                        {#<div class="footer-block_body">#}
                            {#<ul class="footer-block_menu">#}
                                {#<li><a href="{{ path('news_by_category', {'category': 'news'}) }}">Главное</a></li>#}
                                {#<li><a href="{{ path('news_by_category', {'category': 'different'}) }}">Горячее</a></li>#}
                                {#<li><a href="{{ path('news_by_category', {'category': 'afisha'}) }}">Афиша</a></li>#}
                                {#<li><a href="{{ path('news_by_category', {'category': 'traveling'}) }}">Путешествия</a></li>#}
                                {#<li><a href="{{ path('news_by_category', {'category': 'news_sport'}) }}">Спорт</a></li>#}
                            {#</ul>#}
                        {#</div>#}
                        {#<div class="footer-block_footer"></div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-sm-4">#}
                    {#<div class="footer-block"><h3 class="footer-block_title">Присоединяйтесь</h3>#}
                        {#<hr class="footer-block_divider">#}
                        {#<div class="footer-block_body">#}
                            {#<ul class="footer-block_menu">#}
                                {#<li><a href="{{ vk_group }}">ВКонтакте</a></li>#}
                                {#<li><a href="{{ path('get_rss_news') }}">RSS</a></li>#}
                                {#<li>#}
                                    {#<!-- Rating@Mail.ru logo -->#}
                                    {#<a href="http://top.mail.ru/jump?from=2767489">#}
                                        {#<img src="//top-fwz1.mail.ru/counter?id=2767489;t=617;l=1"#}
                                             {#style="border:0;" height="30" width="88" alt="Рейтинг@Mail.ru" /></a>#}
                                    {#<!-- //Rating@Mail.ru logo -->#}
                                {#</li>#}
                                {#<li>#}
                                    {#<a href="http://gorod-barnaul.ru/saity/" target="_blank"><img src="http://gorod-barnaul.ru/saity/reiting.php" width=88 height=31 border=0 alt="Каталог сайтов - http://gorod-barnaul.ru/saity/"/></a>#}
                                {#</li>#}
                                {#<li>#}
                                    {#<!--LiveInternet counter--><script type="text/javascript"><!--#}
                                        {#document.write("<a href='//www.liveinternet.ru/click' "+#}
                                        {#"target=_blank><img src='//counter.yadro.ru/hit?t27.6;r"+#}
                                        {#escape(document.referrer)+((typeof(screen)=="undefined")?"":#}
                                        {#";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?#}
                                                {#screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+#}
                                        {#";"+Math.random()+#}
                                        {#"' alt='' title='LiveInternet: показано количество просмотров и"+#}
                                        {#" посетителей' "+#}
                                        {#"border='0' width='88' height='120'><\/a>")#}
                                        {#//--></script><!--/LiveInternet-->#}

                                {#</li>#}
                            {#</ul>#}
                        {#</div>#}
                        {#<div class="footer-block_footer"></div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}
    {#<section class="bottomline">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-sm-8"><span>© Новостной агрегатор "dish-alt", 2016 гг. Все права защищены.</span></div>#}
                {#<div class="col-sm-4 text-right"><span><a href="https://vk.com/core_style">Разработка сайта "CoreStyleStudio"</a></span></div>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}

    {#<!-- Rating@Mail.ru counter -->#}
    {#<script type="text/javascript">#}
        {#var _tmr = window._tmr || (window._tmr = []);#}
        {#_tmr.push({id: "2767489", type: "pageView", start: (new Date()).getTime()});#}
        {#(function (d, w, id) {#}
            {#if (d.getElementById(id)) return;#}
            {#var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id;#}
            {#ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";#}
            {#var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};#}
            {#if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }#}
        {#})(document, window, "topmailru-code");#}
    {#</script><noscript><div style="position:absolute;left:-10000px;">#}
            {#<img src="//top-fwz1.mail.ru/counter?id=2767489;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" />#}
        {#</div></noscript>#}
    {#<!-- //Rating@Mail.ru counter -->#}

{#</footer>#}


<footer>
    <section class="section-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <ul>
                        <li class="title">
                            <div class="site-logo"><a href="index.html"><span>Dish</span><span>Alt</span></a></div>
                        </li>
                        <li><a href="{{ path('get_about') }}" title="Информация о портале DishAlt" class="btn btn-link">О нас</a></li>
                        <li><a href="{{ path('get_partners') }}" title="Партнеры, с которыми мы сотрудничаем" class="btn btn-link">Партнеры</a></li>
                        <li><a href="{{ path('get_adverts') }}" title="Размещение вашей рекламы на портале DishAlt" class="btn btn-link">Реклама на портале</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul>
                        <li class="title"><span>Меню</span></li>
                        <li><a href="#" title="Новости Барнаула и Алтайского края" class="btn btn-link">Новости</a></li>
                        <li><a href="#" title="Акции и скидки различных магазинов Барнаула и Алтайского края" class="btn btn-link">Акции и скидки</a></li>
                        <li><a href="#" title="Вакансии работодателей Алтайского края" class="btn btn-link">Поиск работы</a></li>
                        {#<li><a href="#" title="Бюро находок Алтайского края" class="btn btn-link">Бюро находок</a></li>#}
                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul>
                        <li class="title"><span>Контакты</span></li>
                        <li><a href="{{ vk_group }}" title="Группа DishAlt вконтакте" class="btn btn-link"><span class="fa fa-fw fa-vk"></span><span>Вконтакте</span></a></li>
                        <li><a href="{{ path('get_rss_news') }}" title="RSS источник DishAlt" class="btn btn-link"><span class="fa fa-fw fa-rss"></span><span>RSS</span></a></li>
                        {#<li><a href="#" title="Группа DishAlt в одноклассниках" class="btn btn-link"><span class="fa fa-fw fa-odnoklassniki"></span><span>Одноклассники</span></a></li>#}
                        {#<li><a href="#" title="Группа DishAlt на facebook" class="btn btn-link"><span class="fa fa-fw fa-facebook"></span><span>Facebook</span></a></li>#}
                        {#<li><a href="#" title="Фото городов Алтайского края в инстаграме" class="btn btn-link"><span class="fa fa-fw fa-instagram"></span><span>Instagram</span></a></li>#}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section-counters">
        <div class="container">
            <ul>
                <li>
                    <div class="counter">
                        <!-- Rating@Mail.ru logo -->
                        <a href="http://top.mail.ru/jump?from=2767489"
                           data-role="any-image"
                           data-url="//top-fwz1.mail.ru/counter?id=2767489;t=617;l=1"
                           data-height="30"
                           data-width="88"
                           data-alt="Рейтинг@Mail.ru"
                                >
                            {#<img src=""#}
                                 {#style="border:0;" alt="Рейтинг@Mail.ru" />#}
                        </a>
                        <!-- //Rating@Mail.ru logo -->

                        <!-- Rating@Mail.ru counter -->
                        <script type="text/javascript">

                        </script>
                        <noscript>
                            <div style="position:absolute;left:-10000px;">
                                <img src="//top-fwz1.mail.ru/counter?id=2767489;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" />
                            </div>
                        </noscript>
                        <!-- //Rating@Mail.ru counter -->

                    </div>
                </li>
                <li>
                    <div class="counter">
                        <a href="http://gorod-barnaul.ru/saity/"
                           target="_blank"

                           data-role="any-image"
                           data-url="http://gorod-barnaul.ru/saity/reiting.php"
                           data-height="31"
                           data-width="88"
                           data-alt="Каталог сайтов - http://gorod-barnaul.ru/saity/"

                                >
                            {#<img src="" width=88 height=31 border=0 alt=""/>#}
                        </a>
                    </div>
                </li>
                <li>
                    <div class="counter">
                        <div data-role="live-internet">
                        </div>
                    </div>
                </li>
                {#<li>#}
                    {#<div class="counter">Счетчик</div>#}
                {#</li>#}
                {#<li>#}
                    {#<div class="counter">Счетчик</div>#}
                {#</li>#}
            </ul>
        </div>
    </section>
    <section class="section-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-8"><span>© Новостной агрегатор "DishAlt", 2016г. Все права защищены.</span></div>
                <div class="col-lg-4 text-xs-right"><span>Разработка сайта: <a href="https://vk.com/core_style" class="btn btn-link">веб студия CoreStyle</a></span></div>
            </div>
        </div>
    </section>
</footer>